:root {
  --primary: #1c262f;
  --primary-light: #212d37;
  --secondary: #0ee951;
  --tertiary: #00dabf;
  --gradient: linear-gradient(to right, #0ee951, #00dabf);
}

/* Section Background */
.home {
  height: 110vh;
  position: relative;
}
.home {
  margin-top: -30px;
  margin-bottom: 60px;
}
.home_text,
.home .fas,
.plans .far,
.information .fas,
.work .fas,
.services .fas,
.location .far,
.location .fas {
  padding: 15px 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0ee951),
    to(#00dabf)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom {
  background-color: black;
}
.navbar-nav a:hover {
  cursor: pointer;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************/
/*     Button     */
/******************/

.btn-banner {
  color: white;
  border-radius: 0;
  border-width: 2px;
  padding: 10px 30px;
  border-image-slice: 1;
  text-decoration: none;
  background-image: none;
  background: transparent;
  border-image-source: var(--gradient);
  box-shadow: 5px 5px 0px 0px var(--secondary);
}

.btn-banner:hover {
  color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 10px 30px;
  transform: translate(5px, 5px);
}

/* Other Pages Button */
.home {
  background-image: url("../../../images/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.para {
  width: 50%;
}

.para-light {
  opacity: 0.7;
}
.theme-text {
  color: var(--main-color) !important;
}
.theme-text {
  color: var(--main-color) !important;
}
